
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Bee Network</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="Login">Log In</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Register</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li> <a routerLink='/'> Phone List </a> </li>

        </ul>
    </div>
</nav>
