nav {
  margin-bottom: 0;
}
.modal-body input{
  padding: 15px;
  margin: 5px 0;
}
.modal-body{
  text-align: center;
}
.small-input{
  width: 30% !important;
  display: inline;
}

.input-group input{
  width: 50% ;

}

// 
// .form-control {
//   background-color: papayawhip;
// }
//
// .btn-default {
//   color: white;
//   background-color: peachpuff;
// }

